/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1, p {
  margin: 0;
  padding: 0;
}
#cases {
  font-size: 1.25rem;
}
#container {
  opacity: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
}
#header, #footer {
  margin: 1rem;
}
h1 {
  font-size: 1.5rem;
}
#title {
  color: #01CFFF;
}
#description {
  color: slategrey;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}
#chart {
  position: absolute;
}
.land {
  fill: #01CFFF;
  stroke: white;
  stroke-width: 2;
}
.land.infected {
  fill: #FFB300;
}
.germ {
  fill: #00B395;
  stroke: white;
}
#dayDiv {
  color: #1C1C1C;
  text-align: right;
}
#cases {
  text-align: right;
  color: slategrey;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
span {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
#info {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  color: slategrey;
  font-size: 2rem;
  display: none;
}
#info.selected {
  display: block;
}
#infoPanel {
  position: fixed;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  margin: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 10px #1C1C1C;
  background-color: #1C1C1C;
  bottom: 0;
  color: white;
  display: none;
  max-width: 100%;
}
#infoPanel.selected {
  display: block;
}
#infoPanel a {
  text-decoration: none;
  color: #01CFFF;
}
.tick text {
  fill: #1C1C1C;
  font-size: .75rem;
}
.tick line {
  stroke-dasharray: 2 3;
}
.tick line, .domain {
  stroke: slategrey;
}
#plotGroup, #axes {
  opacity: 0;
}
#plot {
  stroke: #FF6100;
  stroke-width: 2;
  fill: none;
}
/* desktop-only styling */
@media only screen and (min-width: 500px) and (min-height: 500px) {
  #description {
    font-size: 1.25rem;
  }
  #cases {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.5rem; */
  }
  #info:hover::after {
    font-family: "ABCSans Regular", "Arial", sans-serif;
    font-size: 1.25rem;
    content: " click for details";
  }
  #infoPanel a:hover {
    color: #FFB300;
  }
  #infoPanel {
    max-width: 50%;
  }
  .tick text {
    fill: slategrey;
    font-size: 1rem;
  }
  .germ {
    stroke-width: 2;
  }
  #plot {
    stroke-width: 4;
  }
}
