/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
body {
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
h1, p {
  margin: 0;
  padding: 0;
}
#chart {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.land {
  fill: #01CFFF;
  stroke: white;
  stroke-width: 2;
}
.germ {
  fill: #00B395;
  stroke: white;
  stroke-width: 2;
}
#dayDiv {
  position: absolute;
  font-size: 1.5rem;
  color: #1C1C1C;
  bottom: 1.75rem;
  right: 0;
}
#cases {
  position: absolute;
  bottom: .5rem;
  right: 0;
  color: slategrey;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
span {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
}
#container {
  opacity: 0;
}
/* desktop-only styling */
@media only screen and (min-width: 500px) {
  body {
    background-color: #f9f9f9;
  }
  #dayDiv {
    font-size: 2rem;
  }
  #cases {
    font-size: 1.1rem;
  }
}
